body {
	background-color: #fff;
	overflow: auto;
	width: 100%;
}
header {
	display: flex;
	justify-content: center;
}

.base {
	display: flex;
	justify-content: space-around;
	margin: 1em;
	border: black;
	border-style: solid;
	
}
.carre {
	display: flex;
	border: black;
	border-style: solid;
}